*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;

  @include respond(small-laptop) {
    font-size: 95%;
  }

  @include respond(tab-land) {
    font-size: 90%;
  }
}

body {
  font-family: "Overpass", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
